@model SistemaAnimal.Models.Animal

<h2>Criar Animal</h2>

<form asp-action="Criar">

    <label for="">Nome:</label>
    <input type="text" name="nomeC" class="form-control" id="">

    <label for="">Tipo:</label>
    <select name="tipoAnimal" id="" class="form-control">
        <option value="Elefante">Elefante</option>
        <option value="Leao">Leao</option>
    </select>

    <button type="submit" class="btn btn-success">Salvar</button>

</form>