@model SistemaFuncionariosMVC.Models.Funcionario

<h2> Cadastrar funcionario</h2>

<form asp-action="Criar">
    <Label>Nome :</Label>
    <input type="text" class="form-control" name="NomeConstrutor" id="">

    <label for="">Salario base :</label>
    <input type="number" name="SalarioBaseConstrutor" class="form-control" step="0.01" id=""> @*Step controla as casas decimais*@

    <label for="">Cargo :</label>
    <select name="CargoConstrutor" id="">
        <option value="Gerente">Gerente</option>
        <option value="Vendedor">Vendedor</option>
    </select>

    <button type="submit" class="btn-success">Salvar</button>
</form>